<br><br><br><br>
<div style="padding: 50px;">
<h1>Password Generator</h1><br>
<div>
  <label>Enter Length </label>
  <input (input)="onChangeLength($event.target.value)">
</div>

<div>
  <label> Use Letters</label>
  <input (change)="onChangeUseLetters()" type="checkbox">
</div>

<div>
  <label> Use Numbers</label>
  <input (change)="onChangeUseNumbers()" type="checkbox">
</div>


<div>
  <label> Use Symbols</label>
  <input (change)="onChangeUseSymbols()" type="checkbox">
</div>

<button class="btn btn-info" [disabled]="!(length && (includeLetters || includeSymbols || includeNumbers))" 
(click)="onButtonClick()">Generate</button>

<div>
  <label>Your Password</label>
  <input [value]="password">
</div>
</div>
<app-dropdown></app-dropdown>

